/*selector*/
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --primary-color: #435fda;
  --secondary-color: #d8415c;
  --body-font-size: 16px;
  --line-height: 1.5;
  --content-width: 480px;
  --background-color: #fff;
  --background-color-secondary: #f8f8f9;
  --text-color: #060914;
  --text-color--muted: #71737f;
  --line-color: #ededef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #657bdb;
    --primary-color--translucent: rgba(85, 106, 195, 0.3);
    --secondary-color: #d93d59;
    --background-color: #060913;
    --background-color-secondary: #0f1424;
    --text-color: #e4e4e7;
    --text-color--muted: #838690;
    --line-color: #303341;
  }
}

body {
  background-image: url("./../static/background_img.png");
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Animation */
.area {
  background: -webkit-linear-gradient(to left, #9fa9d8, #0a53be);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.circles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(-1000px) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(0px) rotate(720deg);
    object-position: 0;
    border-radius: 50%;
  }
}

header {
  text-align: center;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.7 0 0;

}

.result-sentence {
  font-size: 4em;
  font-weight: bold ;
  font-family: 'Cafe24Ssurround';
}

.result-sentence span {
  display: inline-block;
  animation: float 0.2s ease-in-out infinite;
  text-align: center;
}
h1 img {
  display:inline-block;
  animation:float .2s ease-in-out infinite;
}


@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}

body:hover span {
  animation: bounce 0.8s;
}
body:hover h1 img {
  animation: bounce 1.9s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

span:nth-child(4n) {
  color: hsl(50, 75%, 55%);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%),
    3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}
span:nth-child(4n-1) {
  color: hsl(135, 35%, 55%);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%),
    3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}
span:nth-child(4n-2) {
  color: hsl(155, 35%, 60%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%),
    3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}
span:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%),
    3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

h1 span:nth-child(2) {
  animation-delay: 0.05s;

}
h1 span:nth-child(3) {
  animation-delay: 0.1s;
}
h1 span:nth-child(4) {
  animation-delay: 0.15s;
}
h1 span:nth-child(5) {
  animation-delay: 0.2s;
}
h1 span:nth-child(6) {
  animation-delay: 0.25s;
}
h1 span:nth-child(7) {
  animation-delay: 0.3s;
}
h1 span:nth-child(8) {
  animation-delay: 0.35s;
}
h1 span:nth-child(9) {
  animation-delay: 0.4s;
}
h1 span:nth-child(10) {
  animation-delay: 0.45s;
}
/*h1 span:nth-child(11) {*/
/*  animation-delay: 0.5s;*/
/*}*/
/*h1 span:nth-child(12) {*/
/*  animation-delay: 0.55s;*/
/*}*/
/*h1 span:nth-child(13) {*/
/*  animation-delay: 0.6s;*/
/*}*/
/*h1 span:nth-child(14) {*/
/*  animation-delay: 0.65s;*/
/*}*/

/*#title {*/
/*  text-align: center;*/
/*  font-size: 20px;*/
/*  margin-bottom: 20px;*/
/*}*/
/*.parent {*/
/*  height: 3em; !* 애니메이션 높이 *!*/
/*  overflow-y: hidden;*/
/*  display: block;*/
/*}*/
/*.parent .child {*/
/*  font-size: 3em; !* 애니메이션 높이 *!*/
/*  font-weight: bold;*/
/*  line-height: 1;*/
/*  animation-name: grow;*/
/*  animation-duration: 1s; !* 애니메이션 시간 *!*/
/*}*/
/*!* 키프레임 애니메이션 *!*/
/*@keyframes grow {*/
/*  from {*/
/*    transform: translateY(3em);*/
/*  } !* 애니메이션 높이 *!*/
/*  to {*/
/*    transform: translateY(0);*/
/*  }*/
/*}*/

.banner-img {
  width: 100px;
  cursor: pointer;
}

.body {
  background: #afd5e6;
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.list {
  flex: 8 0 0;
}

.card-deck {
  width: 100%;
  margin-bottom: 30px;
}

.card {
  text-align: center;
  cursor: pointer;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  flex: 2 0 0;
}

/*selector*/
.wrapper {
  max-width: var(--content-width);
  margin: calc(var(--line-height) * 0.5em) auto 0 auto;
}

.results {
  margin-top: 0.5em;
  text-align: center;
}

.results > div {
  margin-bottom: 0.5em;
}

@media (min-width: 440px) {
  :root {
    --body-font-size: 18px;
    --line-height: 1.5;
  }

  .results {
    margin: 2em 1em 0 2em;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
  }

  .results > div {
    margin-bottom: 0;
  }
}

.choose-gender {
  display: flex;
  align-items: stretch;
  margin-bottom: 2em;
}

.segmented-control {
  flex: 1;
  text-align: center;
  line-height: 2em;
  border: 1px solid var(--line-color);
}

.segmented-control:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

.segmented-control:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

.results {
  color: var(--text-color--muted);
}

.results span {
  font-weight: 500;
  color: var(--text-color);
}

/* The crazy stuff that needs to be here for the custom input styling */
input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  transition: all 0.265ms ease-out;
}

input[type="range"]:not(:last-of-type) {
  margin-top: 0;
  margin-bottom: 2.5em;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--line-color);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 0 8px 1px var(--primary-color),
    0 0 16px 4px var(--background-color);
  border: 3px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primary-color);
}

input[type="radio"] {
  -webkit-appearance: none;
  display: none;
}

.segmented-control input[type="radio"] + label {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  color: var(--text-color--muted);
}

.segmented-control input[type="radio"]:checked + label {
  background-color: var(--line-color);
  width: 100%;
  height: 100%;
  display: block;
  color: var(--text-color);
}

.segmented-control input[type="radio"]:focus + label {
  border: 1px solid var(--primary-color);
}

.segmented-control:first-child input[type="radio"]:checked + label {
  border-radius: 0.5em 0 0 0.5em;
}

.segmented-control:last-child input[type="radio"]:checked + label {
  border-radius: 0 0.5em 0.5em 0;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: var(--line-color);
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0 0 8px 1px var(--primary-color),
    0 0 16px 4px var(--background-color);
  border: 3px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

/*Tag*/
.container {
  max-width: 640px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
}
ul.ks-cboxtags li {
  display: inline;
}
ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

#footer {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  /*background-color:#EBF5FF;*/
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 100%;
  /*transition: background-color .3s;*/
  /*border: 1px solid #ddd;*/
  margin: 0 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Cafe24Ssurround';

}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  /*border: 1px dotted #4CAF50;*/
}

.pagination a:hover:not(.active) {
  background-color: #41a541;
}

#modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;


}

#modal-view {
  width: 2000px;
  /* height: 1000px; */
  background: #afd5e6;
  border-radius: 20px;
  box-shadow: black 10px 10px 5px;
}

#close-btn {
  width: 30px;
  text-align: center;
  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
  margin-left: auto;
  /* background: red; */
}

td {
  border: 1px solid #afd5e6;
  text-align: center;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

tr > td {
  background: #7bbf81;
}

tbody > tr:nth-child(2) > td > img {
  margin-top: 20px;
}

#board-title > td {
  font-weight: bold;
  font-size: 30px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

#board-link > td:first-child {
  border-bottom-left-radius: 20px;
}

#board-link > td:last-child {
  border-bottom-right-radius: 20px;
}
