<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <script src="full_list_side.js" defer></script>
    <link href="./full_list_side.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="./../static/favicon.png"/>
    <script src="./../templates/full_list_side.js" defer></script>
    <link rel="icon" type="image/png" href="./../static/favicon.png"/>

    <!--font-->
    <!-- @import
    url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    .fw-bolder{font-family: 'Black Han Sans', sans-serif;} -->

    <title>보드게임 추천-Handmade</title>
</head>
<body>
<section class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
<header>
    <img
            onclick="document.location.href='./index.html'"
            class="banner-img"
            src="./../static/banner.png"
            alt="배너"
    />
</header>
<h1>보드게임 리스트</h1>
<div class="body">
    <div class="list">
        <div class="card-deck">
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card">
                <img
                        class="card-img-top"
                        src="./../static/boardExample.jpeg"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <section class="col-12" id="fs_rating">
                    <span class="heading">
                        Filter By
                    </span>
            <div id="bmr-calculator" class="wrapper">
                <div class="calculator">
                    <label for="calc-playtime" id="calc-playtime_value">Playtime: 30min</label>
                    <input id="calc-playtime" type="range" value="30" min="0" max="120" step="10">
                    <label for="calc-people" id="calc-people_value">People: 2명</label>
                    <input id="calc-people" type="range" value="2" min="0" max="20" step="1">
                    <label for="calc-age" id="calc-age_value">Age: 8살</label>
                    <input id="calc-age" type="range" value="8" min="0" max="40" step="1">
                </div>
            </div>
        </section>
    </nav>
</div>
</body>
</html>
