<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <script src="../static/full_list.js" defer></script>
    <link href="../static/full_list.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="./../static/favicon.png"/>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <!--    <script src="scrips.js" defer></script>-->
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!--font-->
    <!-- @import
    url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    .fw-bolder{font-family: 'Black Han Sans', sans-serif;} -->

    <title>보드게임 추천-Handmade</title>
    <script>
        // $(document).ready(function () {
        //   $(".card").click(function () {
        //     const index = $(this).attr("card-index");
        //     console.log(index);
        //   });
        // });

        //   // 모달창 on/off 함수
        //   function handleModal() {
        //     let status = $("#modal").css("display");
        //     if (status === "none") {
        //       $("#modal").css("display", "flex");
        //     } else {
        //       $("#modal").hide();
        //     }
        //   }
        let boardList = [];

        function handleModal() {
            $(".card").click(function () {
                const index = $(this).attr("card-index");
                const clickedBoard = boardList[index];
                console.log(clickedBoard);
                $("#modal").remove();
                let temp_html = `<div id="modal" onclick="handleModal()">
        <div id="modal-view" onclick="event.stopPropagation()">
            <div id="close-btn" onclick="handleModal()">&times;</div>
            <table class="wiki-table" style="width: 100%">
            <tbody>
                <tr id="board-title">
                <td colspan="2">${clickedBoard["opt_name"]}</td>
                </tr>
                <tr>
                <td colspan="2">
                    <img
                    class="result-img"
                    src=${clickedBoard["opt_img"]}
                    alt="보드게임이미지"
                    />
                </td>
                </tr>
                <tr>
                <td>인원</td>
                <td>${clickedBoard["opt_minNum"]}~${clickedBoard["opt_maxNum"]}명</td>
                </tr>
                <tr>
                <td>연령</td>
                <td>${clickedBoard["opt_age"]}세 이상</td>
                </tr>
                <tr>
                <td>플레이 시간</td>
                <td>${clickedBoard["opt_time"]}분</td>
                </tr>
                <tr>
                <td>장르</td>
                <td>${clickedBoard["opt_genre"]}</td>
                </tr>
                <tr id="board-tag">
                <td>테마</td>
                <td>${clickedBoard["opt_tag1"]}, ${clickedBoard["opt_tag2"]}, ${clickedBoard["opt_tag3"]}</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>`;
                $("body").append(temp_html);
                $("#modal").css("display", "flex");
            });
            $("#modal").hide();
        }

        $(document).ready(function () {
            showPage();
        });

        let pageNo = 1;

        function showPage() {
            $.ajax({
                url: `/whole/page?page=${pageNo}`,
                type: "GET",
                data: {},
                success: function (response) {
                    let items = response["limit_items"];
                    boardList = items;
                    // console.log(items);
                    $(".card-columns").empty();

                    for (i = 0; i < items.length; i++) {
                        let name = items[i]["opt_name"];
                        let img = items[i]["opt_img"];

                        let temp_html = `<div class="card" card-index=${i} onclick="handleModal()">
                                            <img
                                                    class="card-img-top"
                                                    src="${img}"
                                                    alt="Card image cap"
                                            />
                                            <div class="card-body">
                                                <h5 class="card-title">${name}</h5>
                                            </div>
                                        </div>`;

                        $(".card-columns").append(temp_html);
                    }
                },
            });
        }

        function nextPage() {
            pageNo += 1;
            showPage();
        }

        function prevPage() {
            pageNo -= 1;
            showPage();
        }

        function page_1() {
            pageNo = 1;
            showPage();
        }

        function page_2() {
            pageNo = 2;
            showPage();
        }

        function page_3() {
            pageNo = 3;
            showPage();
        }

        function page_4() {
            pageNo = 4;
            showPage();
        }

        function page_5() {
            pageNo = 5;
            showPage();
        }

        function page_6() {
            pageNo = 6;
            showPage();
        }

        function openclose() {
            let status = $("#label-box").css("display");
            if (status == "block") {
                $("#label-box").hide();
            } else {
                $("#label-box").show();
            }
        }

        function openclose2() {
            let status = $("#label-box2").css("display");
            if (status == "block") {
                $("#label-box2").hide();
            } else {
                $("#label-box2").show();
            }
        }

        function openclose3() {
            let status = $("#time").css("display");
            if (status == "block") {
                $("#time").hide();
            } else {
                $("#time").show();
            }
        }

        function openclose4() {
            let status = $("#label-box4").css("display");
            if (status == "block") {
                $("#label-box4").hide();
            } else {
                $("#label-box4").show();
            }
        }

        let player = "";
        let age = "";
        let time = "";
        let genre = "";

        // 필터 데이터 출력하는 함수
        function getFilter() {



            $(".rad-label").click(function () {
                const index = $(this).attr("rad-index");
                //console.log(index);
                if (index === "0") player = 2;
                else if (index === "1") player = 4;
                else if (index === "2") player = 6;
                else if (index === "3") player = 8;
                //console.log(player);
            });

            $(".rad-label2").click(function () {
                const index = $(this).attr("rad-index");
                // console.log(index);
                if (index === "0") age = [3, 8];
                else if (index === "1") age = [8, 14];
                else if (index === "2") age = [12, 19];
                else if (index === "3") age = [20, 100];
                //console.log(age);
            });


            $(".rad-label").click(function () {
                const index = $(this).attr("rad-index");
                // console.log(index);
                if (index === "0") time = [10, 29];
                else if (index === "1") time = [30, 59];
                else if (index === "2") time = [60, 89];
                else if (index === "3") time = [90, 1000];
                //console.log(time);
            });

            $(".rad-label3").click(function () {
                const index = $(this).attr("rad-index");
                // console.log(index);
                if (index === "0") genre = "가족"
                else if (index === "1") genre = "카드"
                else if (index === "2") genre = "퍼즐"
                else if (index === "3") genre = "전략"
                //console.log(genre);
            });

            //$('#card-columns').empty();
            $.ajax({
                type: 'get',
                url: `whole/filter?player_give=${player}&age_give=${age}&genre_give=${genre}&time_give=${time}`,
                data: {},
                success: function (response) {
                    //alert('성공!');
                    let filterCase = [player, age, genre]
                    console.log(filterCase)

                    let filter = response['filtered_games']
                    console.log(filter)
                    //$('#card-columns').empty();

                    for (i = 0; i < filter.length; i++) {
                        let name = filter[i]['opt_name']
                        let img = filter[i]['opt_img']
                        let minNum = filter[i]['opt_minNum']
                        let maxNum = filter[i]['opt_maxNum']
                        let genre = filter[i]['opt_genre']
                        let time = filter[i]['opt_time']
                        let age = filter[i]['opt_age']
                        let tag1 = filter[i]['opt_tag1']
                        let tag2 = filter[i]['opt_tag2']
                        let tag3 = filter[i]['opt_tag3']


                        let temp_html = `<div class="card">
                                            <img
                                                    class="card-img-top"
                                                    src="${img}"
                                                    alt="Card image cap"
                                                    onclick="handleModal()"
                                            />
                                            <div class="card-body">
                                                <h5 class="card-title">${name}</h5>
                                            </div>
                                        </div>
                                        <div id="modal" onclick="handleModal()">
                                            <div id="modal-view" onclick="event.stopPropagation()">
                                                <div id="close-btn" onclick="handleModal()">&times;</div>
                                                <table class="wiki-table" style="width: 100%">
                                                    <tbody>
                                                    <tr id="board-title">
                                                        <td colspan="2">${name}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <img
                                                                    class="result-img"
                                                                    src="${img}"
                                                                    alt="보드게임이미지"
                                                            />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>인원</td>
                                                        <td>${minNum}~${maxNum}명</td>
                                                    </tr>
                                                    <tr>
                                                        <td>연령</td>
                                                        <td>${age}세 이상</td>
                                                    </tr>
                                                    <tr>
                                                        <td>플레이 시간</td>
                                                        <td>${time}분</td>
                                                    </tr>
                                                    <tr>
                                                        <td>장르</td>
                                                        <td>${genre}</td>
                                                    </tr>
                                                    <tr id="board-tag">
                                                        <td>테마</td>
                                                        <td>${tag1},${tag2},${tag3}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>`

                        $('#card-columns').append(temp_html);
                    }
                }
            });
        }

    </script>
</head>
<body>
<section class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
<header>
    <img
            onclick="document.location.href='/'"
            class="banner-img"
            src="./../static/banner.png"
            alt="배너"
    />
</header>
<!--<div id="title">-->
<!--    <div class="parent">-->
<!--        <div class="child">-->
<!--            #보드게임 #리스트<img-->
<!--                src="./../static/dice-cube.png"-->
<!--                width="55"-->
<!--                height="55"-->
<!--        />-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="title">
    <h1 class="result-sentence">
        <span>#</span>
        <span>보</span>
        <span>드</span>
        <span>게</span>
        <span>임</span>
        <span></span>
        <span>리</span>
        <span>스</span>
        <span>트</span>
        <img
                class="result-sentence"
                src="./../static/dice3.png"
                width="80"
                height="80"
        />
    </h1>
</div>
<div class="body">
    <div class="list">
        <div class="card-columns">
            <!-- <div class="card">
              <img
                class="card-img-top"
                src="./../static/boardExample.jpeg"
                alt="Card image cap"
                onclick="handleModal()"
              />
              <div class="card-body">
                <h5 class="card-title">부루마불</h5>
              </div>
            </div> -->
        </div>
        <div id="footer">
            <div class="pagination">
                <div class="active">
                    <a href="#" onclick="prevPage()"><</a>
                    <a href="#" onclick="page_1()">1</a>
                    <a href="#" onclick="page_2()">2</a>
                    <a href="#" onclick="page_3()">3</a>
                    <a href="#" onclick="page_4()">4</a>
                    <a href="#" onclick="page_5()">5</a>
                    <a href="#" onclick="page_6()">6</a>
                    <a href="#" onclick="nextPage()">></a>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <section class="col-12" id="fs_rating">
            <!--            <div id="bmr-calculator" class="wrapper">-->
            <!--                <div class="calculator">-->
            <!--                    <label for="calc-playtime" id="calc-playtime_value"-->
            <!--                    >Playtime: 30min</label-->
            <!--                    >-->
            <!--                    <input-->
            <!--                            id="calc-playtime"-->
            <!--                            type="range"-->
            <!--                            value="30"-->
            <!--                            min="10"-->
            <!--                            max="90"-->
            <!--                            step="5"-->
            <!--                    />-->
            <!--                    <label for="calc-people" id="calc-people_value"-->
            <!--                    >People: 2명</label-->
            <!--                    >-->
            <!--                    <input-->
            <!--                            id="calc-people"-->
            <!--                            type="range"-->
            <!--                            value="2"-->
            <!--                            min="1"-->
            <!--                            max="24"-->
            <!--                            step="1"-->
            <!--                    />-->
            <!--                    <label for="calc-age" id="calc-age_value">Age: 8살</label>-->
            <!--                    <input-->
            <!--                            id="calc-age"-->
            <!--                            type="range"-->
            <!--                            value="8"-->
            <!--                            min="3"-->
            <!--                            max="20"-->
            <!--                            step="1"-->
            <!--                    />-->
            <!--                </div>-->
            <!--            </div>-->
        </section>
        <section>
            <div id="content" class="my-5">
                <div id="filterer" class="collapse">
                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">
                            인원수
                            <button
                                    class="btn ml-auto"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#inner-box"
                                    aria-expanded="false"
                                    aria-controls="inner-box"
                                    id="out"
                                    onclick="outerFilter()"
                            ></button>
                            <a onclick="openclose()" href="#" class="fas fa-plus"></a>
                        </div>
                        <div id="label-box">
                            <label class="rad-label" rad-index="0" onclick="getFilter()">
                                <input type="radio" class="rad-input" name="rad"/>
                                <div class="rad-design"></div>
                                <div class="rad-text">2명</div>
                            </label>

                            <label class="rad-label" rad-index="1" onclick="getFilter()">
                                <input type="radio" class="rad-input" name="rad"/>
                                <div class="rad-design"></div>
                                <div class="rad-text">4명</div>
                            </label>

                            <label class="rad-label" rad-index="2" onclick="getFilter()">
                                <input type="radio" class="rad-input" name="rad"/>
                                <div class="rad-design"></div>
                                <div class="rad-text">6명</div>
                            </label>

                            <label class="rad-label" rad-index="3" onclick="getFilter()">
                                <input type="radio" class="rad-input" name="rad"/>
                                <div class="rad-design"></div>
                                <div class="rad-text">8명이상</div>
                            </label>
                        </div>
                    </div>
                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">
                            게임연령
                            <button
                                    class="btn ml-auto"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#inner-box2"
                                    aria-expanded="false"
                                    aria-controls="inner-box2"
                            >
                                <a onclick="openclose2()" href="#" class="fas fa-plus"></a>
                            </button>
                        </div>
                        <div id="label-box2">
                            <label class="rad-label2" rad-index="0" onclick="getFilter()">
                                <input type="radio" class="rad-input2" name="rad2"/>
                                <div class="rad-design2"></div>
                                <div class="rad-text2">어린이</div>
                            </label>

                            <label class="rad-label2" rad-index="1" onclick="getFilter()">
                                <input type="radio" class="rad-input2" name="rad2"/>
                                <div class="rad-design2"></div>
                                <div class="rad-text2">12세</div>
                            </label>

                            <label class="rad-label2" rad-index="2" onclick="getFilter()">
                                <input type="radio" class="rad-input2" name="rad2"/>
                                <div class="rad-design2"></div>
                                <div class="rad-text2">15세</div>
                            </label>

                            <label class="rad-label2" rad-index="3" onclick="getFilter()">
                                <input type="radio" class="rad-input2" name="rad2"/>
                                <div class="rad-design2"></div>
                                <div class="rad-text2">성인</div>
                            </label>
                        </div>
                    </div>
                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">
                            Play Time
                            <button
                                    class="btn ml-auto"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#time"
                                    aria-expanded="false"
                                    aria-controls="time"
                            >
                                <a onclick="openclose3()" href="#" class="fas fa-plus"></a>
                            </button>
                        </div>
                        <div class="wrapper">
                            <div class="values">
                             <span id="range1">
                                    0min
                             </span>
                                <span> &dash; </span>
                                <span id="range2">
                                    100min
                                </span>
                            </div>
                            <div class="container3">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="100" value="30" step="10" id="slider-1"
                                       oninput="slideOne()">
                                <input type="range" min="0" max="100" value="70" step="10" id="slider-2"
                                       oninput="slideTwo()">
                            </div>
                        </div>
                    </div>

                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">
                            장르
                            <button
                                    class="btn ml-auto"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#inner-box3"
                                    aria-expanded="false"
                                    aria-controls="inner-box3"
                            >
                                <a onclick="openclose4()" href="#" class="fas fa-plus"></a>
                            </button>
                        </div>
                        <div id="label-box4">
                            <label class="rad-label3" rad-index="0" onclick="getFilter()">
                                <input type="radio" class="rad-input3" name="rad3"/>
                                <div class="rad-design3"></div>
                                <div class="rad-text3">가족</div>
                            </label>

                            <label class="rad-label3" rad-index="1" onclick="getFilter()">
                                <input type="radio" class="rad-input3" name="rad3"/>
                                <div class="rad-design3"></div>
                                <div class="rad-text3">카드</div>
                            </label>

                            <label class="rad-label3" rad-index="2" onclick="getFilter()">
                                <input type="radio" class="rad-input3" name="rad3"/>
                                <div class="rad-design3"></div>
                                <div class="rad-text3">퍼즐</div>
                            </label>

                            <label class="rad-label3" rad-index="3" onclick="getFilter()">
                                <input type="radio" class="rad-input3" name="rad3"/>
                                <div class="rad-design3"></div>
                                <div class="rad-text3">전략</div>
                            </label>
                        </div>
                    </div>
                    <!--태그-->
                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">
                            태그
                            <button
                                    class="btn ml-auto"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#inner-box2"
                                    aria-expanded="false"
                                    aria-controls="inner-box2"
                            >
                                <span class="fas fa-plus"></span>
                            </button>
                        </div>
                        <div class="md-select">
                            <label for="ul-id">
                                <button type="button" class="ng-binding">Select Tags</button>
                            </label>
                            <ul role="listbox" id="ul-id" class="md-whiteframe-z1" aria-activedescendant="state2_AK"
                                name="ul-id">
                                <li role="option" id="state2_AK" class="ng-binding ng-scope active" tabindex="-1"
                                    aria-selected="true">파티
                                </li>
                                <li role="option" id="state2_AL" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">순발력
                                </li>
                                <li role="option" id="state2_AR" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">카드
                                </li>
                                <li role="option" id="state2_AS" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">숫자
                                </li>
                                <li role="option" id="state2_AZ" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">클래식
                                </li>
                                <li role="option" id="state2_CA" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">타일
                                </li>
                                <li role="option" id="state2_CO" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">심리전
                                </li>
                                <li role="option" id="state2_CT" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">어린이
                                </li>
                                <li role="option" id="state2_DC" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">완구
                                </li>
                                <li role="option" id="state2_DE" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">조작
                                </li>
                                <li role="option" id="state2_FL" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">점수내기
                                </li>
                                <li role="option" id="state2_FM" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">2인추천
                                </li>
                                <li role="option" id="state2_GA" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">인기
                                </li>
                                <li role="option" id="state2_GU" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">방탈출
                                </li>
                                <li role="option" id="state2_HI" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">수상작
                                </li>
                                <li role="option" id="state2_IA" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">피스
                                </li>
                                <li role="option" id="state2_ID" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">토큰
                                </li>
                                <li role="option" id="state2_IL" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">주사위
                                </li>
                                <li role="option" id="state2_IN" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">그림
                                </li>
                                <li role="option" id="state2_KS" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">퍼즐
                                </li>
                                <li role="option" id="state2_KY" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">사고력
                                </li>
                                <li role="option" id="state2_LA" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">부루마블
                                </li>
                                <li role="option" id="state2_MA" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">사다리
                                </li>
                                <li role="option" id="state2_MD" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">기억력
                                </li>
                                <li role="option" id="state2_ME" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">역할극
                                </li>
                                <li role="option" id="state2_MH" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">탈락제
                                </li>
                                <li role="option" id="state2_MI" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">우승제
                                </li>
                                <li role="option" id="state2_MN" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">룰렛
                                </li>
                                <li role="option" id="state2_MO" class="ng-binding ng-scope" tabindex="-1"
                                    aria-selected="false">타이머
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </nav>
</div>
<!--
<div id="modal" onclick="handleModal()">
  <div id="modal-view" onclick="event.stopPropagation()">
    <div id="close-btn" onclick="handleModal()">&times;</div>
    <table class="wiki-table" style="width: 100%">
      <tbody>
        <tr id="board-title">
          <td colspan="2">부루마불</td>
        </tr>
        <tr>
          <td colspan="2">
            <img
              class="result-img"
              src="./../static/boardExample.jpeg"
              alt="보드게임이미지"
            />
          </td>
        </tr>
        <tr>
          <td>인원</td>
          <td>2~4명</td>
        </tr>
        <tr>
          <td>연령</td>
          <td>8세 이상</td>
        </tr>
        <tr>
          <td>플레이 시간</td>
          <td>90분</td>
        </tr>
        <tr>
          <td>장르</td>
          <td>가족</td>
        </tr>
        <tr id="board-tag">
          <td>테마</td>
          <td>완구, 클래식, 주사위</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
</body>
</html>
