<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
  />
  <link href="./full_list2.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="./../static/favicon.png" />
  <script src="scrips.js" defer></script>
  <link rel="icon" type="image/png" href="/static/favicon.png" />

  <title>보드게임 추천-Handmade</title>


</head>
<body>
  <section class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <header>
    <img
            onclick="document.location.href='./index.html'"
            class="banner-img"
            src="./../static/banner.png"
            alt="배너"
    />
  </header>
  <div id="title">
    <div class="parent">
      <div class="child">#보드게임 #리스트<img src="https://cdn-icons.flaticon.com/png/128/5250/premium/5250407.png?token=exp=1645261974~hmac=3bb846f587e24262bd312453e9038534" width="55" height="55"/>
      </div>
    </div>
  </div>


<!--    <div class="body">-->
<!--      <div class="list">-->
<!--        <div class="card-deck">-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-deck">-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-deck">-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-deck">-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-deck">-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card">-->
<!--            <img-->
<!--              class="card-img-top"-->
<!--              src="./../static/boardExample.jpeg"-->
<!--              alt="Card image cap"-->
<!--            />-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <nav>필터기능 검색기능</nav>-->
<!--     </div>&ndash;&gt;-->
  <div id="footer">
    <div class="pagination" >
      <div class="active">
        <a href="#"><<</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">>></a>
      </div>
    </div>
  </div>


</body>
</html>
