<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <script src="scrips.js" defer></script>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>

    <!--font-->
    @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    .fw-bolder{font-family: 'Black Han Sans', sans-serif;}

    <title>보드게임 추천-Handmade</title>
</head>
<body>
전체리스트
</body>
</html>