<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <script src="../static/full_list.js" defer></script>
    <link href="../static/full_list.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="./../static/favicon.png"/>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <!--    <script src="scrips.js" defer></script>-->
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!--font-->
    <!-- @import
    url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    .fw-bolder{font-family: 'Black Han Sans', sans-serif;} -->

    <title>보드게임 추천-Handmade</title>
    <script>
        // 모달창 on/off 함수
        function handleModal() {
            let status = $("#modal").css("display");
            if (status === "none") {
                $("#modal").css("display", "flex");
            } else {
                $("#modal").hide();
            }
        }

        $(document).ready(function () {
            showGames();
        });

        function showGames() {
            $.ajax({
                type: 'GET',
                url: '/whole/list',
                data: {},
                success: function (response) {
                    let games = response['all_games']
                    console.log(response)
                    for (i = 0; i < games.length; i++) {
                        let rank = games[i]['opt_rank']
                        let name = games[i]['opt_name']
                        let img = games[i]['opt_img']
                        let minNum = games[i]['opt_minNum']
                        let maxNum = games[i]['opt_maxNum']
                        let age = games[i]['opt_age']
                        let time = games[i]['opt_time']
                        let genre = games[i]['opt_genre']
                        let tag1 = games[i]['opt_tag1']
                        let tag2 = games[i]['opt_tag2']
                        let tag3 = games[i]['opt_tag3']


                        let temp_html = `<div class="card">
                                            <img
                                                    class="card-img-top"
                                                    src="${img}"
                                                    alt="Card image cap"
                                                    onclick="handleModal()"
                                            />
                                            <div class="card-body">
                                                <h5 class="card-title font-weight-bold">${name}</h5>
                                            </div>
                                        </div>`
                        $('#card-columns').append(temp_html)
                    }
                }

            })
        }

    </script>
</head>
<body>
<section class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>
<header>
    <img
            onclick="document.location.href='/'"
            class="banner-img"
            src="./../static/banner.png"
            alt="배너"
    />
</header>
<!--<div id="title">-->
<!--    <div class="parent">-->
<!--        <div class="child">-->
<!--            #보드게임 #리스트<img-->
<!--                src="./../static/dice-cube.png"-->
<!--                width="55"-->
<!--                height="55"-->
<!--        />-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div id="title">
    <h1 class="result-sentence">
        <span>#</span>
        <span>보</span>
        <span>드</span>
        <span>게</span>
        <span>임</span>
        <span></span>
        <span>리</span>
        <span>스</span>
        <span>트</span>
        <img class="result-sentence"
             src="./../static/dice3.png"
             width="80"
             height="80"
        />
    </h1>
</div>
<div class="body">
    <div class="list">
        <div class="card-columns" id="card-columns">
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="card">-->
            <!--                <img-->
            <!--                        class="card-img-top"-->
            <!--                        src="./../static/boardExample.jpeg"-->
            <!--                        alt="Card image cap"-->
            <!--                        onclick="handleModal()"-->
            <!--                />-->
            <!--                <div class="card-body">-->
            <!--                    <h5 class="card-title">부루마불</h5>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <div id="footer">
            <div class="pagination">
                <div class="active">
                    <a href="#"><</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">></a>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <section class="col-12" id="fs_rating">

            <!--            <div id="bmr-calculator" class="wrapper">-->
            <!--                <div class="calculator">-->
            <!--                    <label for="calc-playtime" id="calc-playtime_value"-->
            <!--                    >Playtime: 30min</label-->
            <!--                    >-->
            <!--                    <input-->
            <!--                            id="calc-playtime"-->
            <!--                            type="range"-->
            <!--                            value="30"-->
            <!--                            min="10"-->
            <!--                            max="90"-->
            <!--                            step="5"-->
            <!--                    />-->
            <!--                    <label for="calc-people" id="calc-people_value"-->
            <!--                    >People: 2명</label-->
            <!--                    >-->
            <!--                    <input-->
            <!--                            id="calc-people"-->
            <!--                            type="range"-->
            <!--                            value="2"-->
            <!--                            min="1"-->
            <!--                            max="24"-->
            <!--                            step="1"-->
            <!--                    />-->
            <!--                    <label for="calc-age" id="calc-age_value">Age: 8살</label>-->
            <!--                    <input-->
            <!--                            id="calc-age"-->
            <!--                            type="range"-->
            <!--                            value="8"-->
            <!--                            min="3"-->
            <!--                            max="20"-->
            <!--                            step="1"-->
            <!--                    />-->
            <!--                </div>-->
            <!--            </div>-->

        </section>
        <section>
            <div id="content" class="my-5">
                <div id="filterer" class="collapse">
                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">인원수
                            <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box"
                                    aria-expanded="false" aria-controls="inner-box" id="out"
                                    onclick="outerFilter()"><span
                                    class="fas fa-plus"></span></button>
                        </div>
                        <div>
                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">2명</div>
                            </label>

                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">4명</div>
                            </label>

                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">6명</div>
                            </label>

                            <label class="rad-label">
                                <input type="radio" class="rad-input" name="rad">
                                <div class="rad-design"></div>
                                <div class="rad-text">8명이상</div>
                            </label>
                        </div>
                    </div>
                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">게임연령
                            <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box2"
                                    aria-expanded="false" aria-controls="inner-box2"><span class="fas fa-plus"></span>
                            </button>
                        </div>
                        <div>
                            <label class="rad-label2">
                                <input type="radio" class="rad-input2" name="rad2">
                                <div class="rad-design2"></div>
                                <div class="rad-text2">어린이</div>
                            </label>

                            <label class="rad-label2">
                                <input type="radio" class="rad-input2" name="rad2">
                                <div class="rad-design2"></div>
                                <div class="rad-text2">12세</div>
                            </label>

                            <label class="rad-label2">
                                <input type="radio" class="rad-input2" name="rad2">
                                <div class="rad-design2"></div>
                                <div class="rad-text2">15세</div>
                            </label>

                            <label class="rad-label2">
                                <input type="radio" class="rad-input2" name="rad2">
                                <div class="rad-design2"></div>
                                <div class="rad-text2">성인</div>
                            </label>
                        </div>
                    </div>
                    <div class="box border-bottom">
                        <div class="box-label text-uppercase d-flex align-items-center">Play Time
                            <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#time"
                                    aria-expanded="false" aria-controls="time"><span class="fas fa-plus"></span>
                            </button>
                        </div>
                        <div class="collapse" id="time">
                            <div class="middle">
                                <div class="multi-range-slider">
                                    <label for="input-left" id="input-left_value"></label>
                                    <input type="range"
                                           id="input-left" min="0"
                                           max="120" value="10"
                                           step="10">
                                    <label for="input-right" id="input-right_value"></label>
                                    <input type="range"
                                           id="input-right" min="0"
                                           max="120" value="50"
                                           step="10">
                                    <div class="slider">
                                        <div class="track"></div>
                                        <div class="range"></div>
                                        <div class="thumb left"></div>
                                        <div class="thumb right"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-2">
                                <div><span id="amount-left" class="font-weight-bold"></span> min</div>
                                <div><span id="amount-right" class="font-weight-bold"></span> min</div>
                            </div>
                        </div>
                    </div>
                    <!--장르-->
                    <div class="box">
                        <div class="box-label text-uppercase d-flex align-items-center">장르
                            <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#genre"
                                    aria-expanded="false" aria-controls="genre"><span class="fas fa-plus"></span>
                            </button>
                        </div>
                        <div class="container">
                            <ul class="ks-cboxtags">
                                <li>
                                    <input type="checkbox" id="checkboxOne" value="Family"/>
                                    <label for="checkboxOne">가족</label>
                                </li>
                                <li>
                                    <input
                                            type="checkbox"
                                            id="checkboxTwo"
                                            value="Card"
                                            checked
                                    /><label for="checkboxTwo">카드</label>
                                </li>
                                <li>
                                    <input
                                            type="checkbox"
                                            id="checkboxThree"
                                            value="Puzzle"
                                            checked
                                    /><label for="checkboxThree">퍼즐</label>
                                </li>
                                <li>
                                    <input
                                            type="checkbox"
                                            id="checkboxFour"
                                            value="Strategy"
                                    /><label for="checkboxFour">전략</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </nav>
</div>

<div id="modal" onclick="handleModal()">

    <div id="modal-view" onclick="event.stopPropagation()">
        <div id="close-btn" onclick="handleModal()">&times;</div>
        <table class="wiki-table" style="width: 100%">
            <tbody>
            <tr id="board-title">
                <td colspan="2">부루마불</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img
                            class="result-img"
                            src="./../static/boardExample.jpeg"
                            alt="보드게임이미지"
                    />
                </td>
            </tr>
            <tr>
                <td>인원</td>
                <td>2~4명</td>
            </tr>
            <tr>
                <td>연령</td>
                <td>8세 이상</td>
            </tr>
            <tr>
                <td>플레이 시간</td>
                <td>90분</td>
            </tr>
            <tr>
                <td>장르</td>
                <td>가족</td>
            </tr>
            <tr>
                <td>테마</td>
                <td>완구, 클래식, 주사위</td>
            </tr>
            <tr id="board-link">
                <td>링크</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
