@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url("./../static/background_img.png");
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: 'ONE-Mobile-POP';


}


/* Animation */
.area {
  background: -webkit-linear-gradient(to left, #9fa9d8, #0a53be);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.circles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(-1000px) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(0px) rotate(720deg);
    object-position: 0;
    border-radius: 50%;
  }
}

header {
  text-align: center;
}

.banner-img {
  width: 100px;
  cursor: pointer;
}
#title{
  text-align: center;
  font-size: 20px;
}
.parent {
    height: 3em; /* 애니메이션 높이 */
    overflow-y: hidden;
    display: block;
}
.parent .child {
    font-size: 3em;/* 애니메이션 높이 */
    font-weight: bold;
    line-height: 1;
    animation-name: grow;
    animation-duration: 1s;/* 애니메이션 시간 */

}
/* 키프레임 애니메이션 */
@keyframes grow {
    from { transform: translateY(3em) }/* 애니메이션 높이 */
    to { transform: translateY(0) }
}


.body {
  width: 100%;
  height: 100%;
  display: flex;
}

.card-deck {
  margin-bottom: 30px;
}

nav {
  width: 100%;
  height: 300px;
  background: red;
}

#footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  /*background-color:#EBF5FF;*/
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 100%;
  /*transition: background-color .3s;*/
  /*border: 1px solid #ddd;*/
  margin: 0 4px;
  cursor: pointer;
  font-size: 20px;

}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  /*border: 1px dotted #4CAF50;*/

}

.pagination a:hover:not(.active) {
  background-color: #41A541;}

