<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <title>보드게임 추천-Handmade</title>
</head>
<body>
<!--Header-->
<header class="haeder">
    <img class="header__img" src="/static/background_img.png">
</header>
<!--Main-->
<div class="slider">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">
    <ul id="imgholder" class="imgs">
        <li><img src="/static/slide1.jpg"></li>
        <li><img src="/static/slide2.jpg"></li>
        <li><img src="/static/slide3.jpg"></li>
    </ul>
    <div class="bullets">
        <label for="slide1">&nbsp;</label>
        <label for="slide2">&nbsp;</label>
        <label for="slide3">&nbsp;</label>
    </div>
</div>
<!--button-->
<div class="button">
    <a class="list_btn" href="full_list.html">
        <button class="fcc-btn" type="button">
            나만의 보드게임 찾기!
        </button>
    </a>
    </br>
    </br>
    <a class="list_btn" href="full_list.html">
        <button class="fcc-btn" type="button">
            보드게임 전체 리스트
        </button>
    </a>
</div>
</body>
</html>