<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>보드게임 추천-Handmade</title>
</head>
<body>
<div>
    <!--Animation-->
    <section class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>

    <!--banner-->
    <div class="banner">
        <img src="/static/banner.png" class="banner_img">
    </div>

    <!--slider-->
    <h1 class="slide_title">
        <span>T</span>
        <span>o</span>
        <span>d</span>
        <span>a</span>
        <span>y</span>
        <span>'</span>
        <span>s</span>
        </br>
        <span>g</span>
        <span>a</span>
        <span>m</span>
        <span>e</span>
    </h1>
    <div class="box">
        <img id="image">
    </div>

    <!--card1-->
    <div class="card">
        <div class="card_circle"></div>
        <div class="card_content">
            <a class="list_btn" href="question_page.html"> 골라보기!</a>
        </div>
        <!--dice-->
        <div class="game">
            <div class="game_container">
                <div id='dice1' class="dice dice-one">
                    <div id="dice-one-side-one" class='side one'>
                        <div class="dot one-1"></div>
                    </div>
                    <div id="dice-one-side-two" class='side two'>
                        <div class="dot two-1"></div>
                        <div class="dot two-2"></div>
                    </div>
                    <div id="dice-one-side-three" class='side three'>
                        <div class="dot three-1"></div>
                        <div class="dot three-2"></div>
                        <div class="dot three-3"></div>
                    </div>
                    <div id="dice-one-side-four" class='side four'>
                        <div class="dot four-1"></div>
                        <div class="dot four-2"></div>
                        <div class="dot four-3"></div>
                        <div class="dot four-4"></div>
                    </div>
                    <div id="dice-one-side-five" class='side five'>
                        <div class="dot five-1"></div>
                        <div class="dot five-2"></div>
                        <div class="dot five-3"></div>
                        <div class="dot five-4"></div>
                        <div class="dot five-5"></div>
                    </div>
                    <div id="dice-one-side-six" class='side six'>
                        <div class="dot six-1"></div>
                        <div class="dot six-2"></div>
                        <div class="dot six-3"></div>
                        <div class="dot six-4"></div>
                        <div class="dot six-5"></div>
                        <div class="dot six-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--card2-->
    <div class="card2">
        <div class="card2_circle"></div>
        <div class="card2_content">
            <a class="list2_btn" href="full_list.html">모든 게임</a>
        </div>
        <!--dice-->
        <div class="game2">
            <div class="game2_container">
                <div id='dice2' class="dice2 dice-two">
                    <div id="dice-two-side-one" class='side one'>
                        <div class="dot one-1"></div>
                    </div>
                    <div id="dice-two-side-two" class='side two'>
                        <div class="dot two-1"></div>
                        <div class="dot two-2"></div>
                    </div>
                    <div id="dice-two-side-three" class='side three'>
                        <div class="dot three-1"></div>
                        <div class="dot three-2"></div>
                        <div class="dot three-3"></div>
                    </div>
                    <div id="dice-two-side-four" class='side four'>
                        <div class="dot four-1"></div>
                        <div class="dot four-2"></div>
                        <div class="dot four-3"></div>
                        <div class="dot four-4"></div>
                    </div>
                    <div id="dice-two-side-five" class='side five'>
                        <div class="dot five-1"></div>
                        <div class="dot five-2"></div>
                        <div class="dot five-3"></div>
                        <div class="dot five-4"></div>
                        <div class="dot five-5"></div>
                    </div>
                    <div id="dice-two-side-six" class='side six'>
                        <div class="dot six-1"></div>
                        <div class="dot six-2"></div>
                        <div class="dot six-3"></div>
                        <div class="dot six-4"></div>
                        <div class="dot six-5"></div>
                        <div class="dot six-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="footer">
        <div class="footer__wrap">
            <div class="footer__teaminfo">
                <h3>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    , Team Handmade
                </h3>
                <a href="https://github.com/tunEmvegnomb/sparta_mc10th"><i class="fab fa-github"></i></a>&nbsp;&nbsp;
                <a href="https://teamsparta.notion.site/5-508c4211f2564be88cc77e28c255e8ff"><i
                        class="far fa-sticky-note"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>