<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="./../static/favicon.png"/>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>보드게임 추천-Handmade</title>
</head>
<body>

    <!--Animation-->
    <section class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>

    <!--banner-->
    <div class="body">
        <div class="banner">
            <img src="./../static/banner.png" class="banner_img">
        </div>
        <!--slider-->
        <div class="contents">
            <h1 class="slide_title">
                <span>T</span>
                <span>o</span>
                <span>d</span>
                <span>a</span>
                <span>y</span>
                <span>'</span>
                <span>s</span>
                </br>
                <span>g</span>
                <span>a</span>
                <span>m</span>
                <span>e</span>
            </h1>
            <h2 class="board_name">보드게임 이름</h2>
            <!--slide-->
            <div class="box">
                <img id="image">
            </div>
            <!--button-->
            <div class="button">
                <button type="button" onclick="location.href='question.html'" class="btn-challenge">
                    <span>GO!</span><small>골라보기</small>
                    <div class="hover-area">
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="icon-home">
                            <div class="roof roof-1"></div>
                            <div class="roof roof-2"></div>
                            <div class="roof-design roof-design-1"></div>
                            <div class="roof-design roof-design-2"></div>
                            <div class="roof-side roof-side-1"></div>
                            <div class="roof-side roof-side-2"></div>
                            <div class="roof-wall roof-wall-1"></div>
                            <div class="roof-wall roof-wall-2"></div>
                            <div class="wall wall-1"></div>
                            <div class="wall wall-2"></div>
                            <div class="wall wall-3"></div>
                            <div class="wall wall-4"></div>
                            <div class="door"></div>
                            <div class="floor"></div>
                        </div>
                    </div>
                </button>
                <button type="button" onclick="location.href='full_list.html'" class="btn-challenge2"><span>All</span><small>모든
                    게임</small>
                    <div class="hover-area">
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="hover-col"></div>
                        <div class="icon-home">
                            <div class="roof roof-1"></div>
                            <div class="roof roof-2"></div>
                            <div class="roof-design roof-design-1"></div>
                            <div class="roof-design roof-design-2"></div>
                            <div class="roof-side roof-side-1"></div>
                            <div class="roof-side roof-side-2"></div>
                            <div class="roof-wall roof-wall-1"></div>
                            <div class="roof-wall roof-wall-2"></div>
                            <div class="wall wall-1"></div>
                            <div class="wall wall-2"></div>
                            <div class="wall wall-3"></div>
                            <div class="wall wall-4"></div>
                            <div class="door"></div>
                            <div class="floor"></div>
                        </div>
                    </div>
                </button>
        </div>
        </div>
    </div>
    <!--Footer-->
    <div class="footer">
        <div class="footer__wrap">
            <div class="footer__teaminfo">
                <h3>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    , Team Handmade
                </h3>
                    <a href="https://github.com/tunEmvegnomb/sparta_mc10th">
                        <i class="fab fa-github" style="color:white"></i>
                    </a>&nbsp;&nbsp;
                    <a href="https://teamsparta.notion.site/5-508c4211f2564be88cc77e28c255e8ff">
                        <i class="far fa-sticky-note" style="color: cornflowerblue"></i></a>
            </div>
        </div>
    </div>


</body>
</html>