<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="./style2.css" rel="stylesheet" />
<!--    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>보드게임 추천-Handmade</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap"
      rel="stylesheet"
    />



   <script type="text/javascript">
      $(document).ready(function () {
        $(".menu")
          .each(function (index) {
            $(this).attr("menu-index", index);
          })
          .click(function () {
            var index = $(this).attr("menu-index");
            $(".menu[menu-index=" + index + "]").addClass("clicked_menu");
            $(".menu[menu-index!=" + index + "]").removeClass("clicked_menu");
          });
      });

      $(document).ready(function () {
        $(".menu1")
          .each(function (index) {
            $(this).attr("menu-index", index);
          })
          .click(function () {
            var index = $(this).attr("menu-index");
            $(".menu1[menu-index=" + index + "]").addClass("clicked_menu");
            $(".menu1[menu-index!=" + index + "]").removeClass("clicked_menu");
          });
      });

      $(document).ready(function () {
        $(".menu2")
          .each(function (index) {
            $(this).attr("menu-index", index);
          })
          .click(function () {
            var index = $(this).attr("menu-index");
            $(".menu2[menu-index=" + index + "]").addClass("clicked_menu");
            $(".menu2[menu-index!=" + index + "]").removeClass("clicked_menu");
          });
      });

      $(document).ready(function () {
        $(".menu3")
          .each(function (index) {
            $(this).attr("menu-index", index);
          })
          .click(function () {
            var index = $(this).attr("menu-index");
            $(".menu3[menu-index=" + index + "]").addClass("clicked_menu");
            $(".menu3[menu-index!=" + index + "]").removeClass("clicked_menu");
          });
      });


    </script>
  </head>

  <body>
   <header>
      <img
        onclick="document.location.href='./index.html'"
        class="banner-img"
        src="./../static/banner.png"
        alt="배너"
      />
    </header>
  <section class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>


    <div>
      <div id="contents">
        <h1 class="result-sentence">
          <span style="height: 500px">나</span>
          <span>만</span>
          <span>의</span>
          <span>골</span>
          <span>라</span>
          <span>보</span>
          <span>드</span>
          <img src="https://cdn-icons-png.flaticon.com/128/3292/3292072.png" width="70" height="70">
        </h1>
      </div>
    </div>

    <div class="wrap_box">
      <div class="box">
        <div class="questions_box">
          <h2>
            <img
              class="images"
              src="https://cdn-icons-png.flaticon.com/128/6770/6770295.png"
              width="60" height="60"/>
            플레이어는 몇 명?
          </h2>
        </div>
        <div class="menu">2명</div>
        <div class="menu">4명</div>
        <div class="menu">6명</div>
        <div class="menu">8명이상</div>
      </div>
      <div class="box1">
        <div class="questions_box">
          <h2>
            <img
              class="images"
              src="https://cdn-icons-png.flaticon.com/128/6770/6770339.png"
             width="60" height="60"/>
            원하는 게임 연령은?
          </h2>
        </div>
        <div class="menu1">5세이상</div>
        <div class="menu1">8세이상</div>
        <div class="menu1">14세이상</div>
        <div class="menu1">성인</div>
      </div>
      <div class="box2">
        <div class="questions_box">
          <h2>
            <img
              class="images"
              src="https://cdn-icons-png.flaticon.com/128/6770/6770285.png"
             width="60" height="60"/>
            원하는 장르는?
          </h2>
        </div>
        <div class="menu2">전략</div>
        <div class="menu2">추리</div>
        <div class="menu2">카드</div>
        <div class="menu2">퍼즐</div>
      </div>
      <div class="box3">
        <div class="questions_box">
          <h2>
            <img
              class="images"
              src="https://cdn-icons-png.flaticon.com/128/6770/6770242.png"
             width="60" height="60"/>
            원하는 플레이 타임은?
          </h2>
        </div>
        <div class="menu3">10min</div>
        <div class="menu3">30min</div>
        <div class="menu3">60min</div>
        <div class="menu3">90min</div>
      </div>
        <button class="btn hover1" onclick="location.href='result.html'">
        결과 확인
      </button>
    </div>
  </body>
</html>
